build
composer.lock
vendor
!resources/css/vendor
resources/dist/monaco
resources/hot
coverage
.php_cs.cache
node_modules
mix-manifest.json
auth.json
.phpunit.result.cache
.php-cs-fixer.cache
phpstan.neon
dump.rdb
/.fleet
