parameters:
	ignoreErrors:
		-
			message: "#^Class Spatie\\\\Mailcoach\\\\Domain\\\\Audience\\\\Mails\\\\ConfirmSubscriberMail constructor invoked with 0 parameters, 1\\-2 required\\.$#"
			count: 1
			path: src/Domain/Audience/Mails/ConfirmSubscriberMail.php

		-
			message: "#^Call to an undefined method Spatie\\\\Image\\\\Manipulations\\:\\:keepOriginalImageFormat\\(\\)\\.$#"
			count: 1
			path: src/Domain/Audience/Models/EmailList.php

		-
			message: """
				#^Class Spatie\\\\Mailcoach\\\\Domain\\\\Audience\\\\Rules\\\\EmailListSubscriptionRule implements deprecated interface Illuminate\\\\Contracts\\\\Validation\\\\Rule\\:
				see ValidationRule$#
			"""
			count: 1
			path: src/Domain/Audience/Rules/EmailListSubscriptionRule.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:\\$segment_id\\.$#"
			count: 1
			path: src/Domain/Audience/Support/Segments/SubscribersWithTagsSegment.php

		-
			message: "#^Access to an undefined property Spatie\\\\Mailcoach\\\\Domain\\\\Automation\\\\Models\\\\Action\\:\\:\\$pivot\\.$#"
			count: 1
			path: src/Domain/Automation/Actions/ShouldAutomationRunForSubscriberAction.php

		-
			message: "#^Access to an undefined property Spatie\\\\Mailcoach\\\\Domain\\\\Automation\\\\Support\\\\Actions\\\\AutomationAction\\:\\:\\$automationMail\\.$#"
			count: 1
			path: src/Domain/Automation/Jobs/CalculateAutomationMailStatisticsJob.php

		-
			message: """
				#^Call to deprecated method useStrictMode\\(\\) of class Carbon\\\\Carbon\\:
				To avoid conflict between different third\\-party libraries, static setters should not be used\\.
				            You should rather use the \\-\\>settings\\(\\) method\\.$#
			"""
			count: 1
			path: src/Domain/Automation/Models/Action.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Database\\\\Eloquent\\\\Relations\\\\HasMany\\:\\:subscribed\\(\\)\\.$#"
			count: 1
			path: src/Domain/Automation/Models/Automation.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Database\\\\Eloquent\\\\Builder\\:\\:scheduled\\(\\)\\.$#"
			count: 1
			path: src/Domain/Campaign/Models/Campaign.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Database\\\\Eloquent\\\\Builder\\:\\:sendingOrSent\\(\\)\\.$#"
			count: 1
			path: src/Domain/Campaign/Models/Campaign.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Database\\\\Eloquent\\\\Relations\\\\HasMany\\:\\:subscribed\\(\\)\\.$#"
			count: 1
			path: src/Domain/Campaign/Models/Campaign.php

		-
			message: "#^Binary operation \"\\-\" between non\\-falsy\\-string and 1 results in an error\\.$#"
			count: 1
			path: src/Domain/Campaign/Rules/HtmlRule.php

		-
			message: """
				#^Access to deprecated property \\$replyToEmail of class Spatie\\\\Mailcoach\\\\Domain\\\\Content\\\\Mails\\\\MailcoachMail\\:
				will be removed in v7$#
			"""
			count: 3
			path: src/Domain/Content/Mails/MailcoachMail.php

		-
			message: """
				#^Access to deprecated property \\$replyToName of class Spatie\\\\Mailcoach\\\\Domain\\\\Content\\\\Mails\\\\MailcoachMail\\:
				will be removed in v7$#
			"""
			count: 2
			path: src/Domain/Content/Mails/MailcoachMail.php

		-
			message: """
				#^Class Spatie\\\\Mailcoach\\\\Domain\\\\Settings\\\\Rules\\\\MailerConfigKeyNameRule implements deprecated interface Illuminate\\\\Contracts\\\\Validation\\\\Rule\\:
				see ValidationRule$#
			"""
			count: 1
			path: src/Domain/Settings/Rules/MailerConfigKeyNameRule.php

		-
			message: "#^Call to protected static method setValues\\(\\) of class Spatie\\\\Mailcoach\\\\Domain\\\\Settings\\\\Models\\\\Setting\\.$#"
			count: 2
			path: src/Domain/Settings/Support/AppConfiguration/AppConfiguration.php

		-
			message: "#^Call to protected static method setValues\\(\\) of class Spatie\\\\Mailcoach\\\\Domain\\\\Settings\\\\Models\\\\Setting\\.$#"
			count: 2
			path: src/Domain/Settings/Support/EditorConfiguration/EditorConfiguration.php

		-
			message: "#^Class Spatie\\\\MjmlSidecar\\\\MjmlFunction not found\\.$#"
			count: 1
			path: src/Domain/Shared/Actions/InitializeMjmlAction.php

		-
			message: "#^Class Spatie\\\\SidecarShiki\\\\Functions\\\\HighlightFunction not found\\.$#"
			count: 1
			path: src/Domain/Shared/Actions/RenderMarkdownToHtmlAction.php

		-
			message: "#^Instantiated class Spatie\\\\SidecarShiki\\\\Commonmark\\\\HighlightCodeExtension not found\\.$#"
			count: 1
			path: src/Domain/Shared/Actions/RenderMarkdownToHtmlAction.php

		-
			message: "#^PHPDoc tag @param has invalid value \\(array\\{string\\: \\{finished\\: bool, progress\\: float, index\\: int, total\\: int, failed\\: bool, message\\: string\\}\\} \\$steps\\)\\: Unexpected token \"\\:\", expected '\\}' at offset 30$#"
			count: 1
			path: src/Domain/Shared/Events/ImportFinishedEvent.php

		-
			message: "#^Access to an undefined property Spatie\\\\Mailcoach\\\\Domain\\\\Shared\\\\Jobs\\\\Export\\\\ExportJob\\:\\:\\$path\\.$#"
			count: 3
			path: src/Domain/Shared/Jobs/Export/ExportJob.php

		-
			message: "#^Access to an undefined property Spatie\\\\Mailcoach\\\\Domain\\\\Content\\\\Models\\\\Concerns\\\\HasContentItems\\:\\:\\$contentItem\\.$#"
			count: 2
			path: src/Domain/Shared/Models/Sendable.php

		-
			message: "#^Call to an undefined method Spatie\\\\Image\\\\Manipulations\\:\\:nonQueued\\(\\)\\.$#"
			count: 1
			path: src/Domain/Shared/Models/Upload.php

		-
			message: "#^Class Spatie\\\\Mailcoach\\\\Domain\\\\TransactionalMail\\\\Mails\\\\TransactionalMail constructor invoked with 0 parameters, 4\\-12 required\\.$#"
			count: 1
			path: src/Domain/TransactionalMail/Mails/TransactionalMail.php

		-
			message: "#^Access to an undefined property Spatie\\\\Mailcoach\\\\Domain\\\\Content\\\\Models\\\\Concerns\\\\HasContentItems\\:\\:\\$contentItem\\.$#"
			count: 2
			path: src/Domain/TransactionalMail/Models/TransactionalMail.php

		-
			message: "#^Access to an undefined property Spatie\\\\Mailcoach\\\\Domain\\\\Content\\\\Models\\\\Concerns\\\\HasContentItems\\:\\:\\$contentItem\\.$#"
			count: 2
			path: src/Domain/TransactionalMail/Models/TransactionalMailLogItem.php

		-
			message: "#^Call to an undefined method Spatie\\\\WebhookClient\\\\Models\\\\WebhookCall\\:\\:isFirstOfThisSesMessage\\(\\)\\.$#"
			count: 1
			path: src/Domain/Vendor/Ses/Jobs/ProcessSesWebhookJob.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Database\\\\Eloquent\\\\Builder\\<Illuminate\\\\Database\\\\Eloquent\\\\Model\\>\\:\\:allowedFilters\\(\\)\\.$#"
			count: 1
			path: src/Http/Api/Queries/CampaignBouncesQuery.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Database\\\\Eloquent\\\\Builder\\<Illuminate\\\\Database\\\\Eloquent\\\\Model\\>\\:\\:allowedFilters\\(\\)\\.$#"
			count: 1
			path: src/Http/Api/Queries/CampaignOpensQuery.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Database\\\\Eloquent\\\\Builder\\:\\:defaultSort\\(\\)\\.$#"
			count: 1
			path: src/Http/Api/Queries/EmailListTagsQuery.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Database\\\\Eloquent\\\\Builder\\<Illuminate\\\\Database\\\\Eloquent\\\\Model\\>\\:\\:search\\(\\)\\.$#"
			count: 1
			path: src/Http/Api/Queries/Filters/SearchFilter.php

		-
			message: "#^Cannot access property \\$id on object\\|string\\|null\\.$#"
			count: 1
			path: src/Http/Api/Requests/EmailLists/Subscribers/UpdateSubscriberRequest.php

		-
			message: "#^Call to an undefined method Spatie\\\\Mailcoach\\\\Http\\\\Api\\\\Requests\\\\SendAutomationMailTestRequest\\:\\:after\\(\\)\\.$#"
			count: 1
			path: src/Http/Api/Requests/SendAutomationMailTestRequest.php

		-
			message: "#^Cannot call method tags\\(\\) on object\\|string\\|null\\.$#"
			count: 1
			path: src/Http/Api/Requests/TagSegmentRequest.php

		-
			message: "#^Access to an undefined property Spatie\\\\Mailcoach\\\\Http\\\\Api\\\\Resources\\\\BounceResource\\:\\:\\$bounce_count\\.$#"
			count: 1
			path: src/Http/Api/Resources/BounceResource.php

		-
			message: "#^Access to an undefined property Spatie\\\\Mailcoach\\\\Http\\\\Api\\\\Resources\\\\BounceResource\\:\\:\\$subscriber_email\\.$#"
			count: 1
			path: src/Http/Api/Resources/BounceResource.php

		-
			message: "#^Access to an undefined property Spatie\\\\Mailcoach\\\\Http\\\\Api\\\\Resources\\\\BounceResource\\:\\:\\$subscriber_email_list_uuid\\.$#"
			count: 1
			path: src/Http/Api/Resources/BounceResource.php

		-
			message: "#^Access to an undefined property Spatie\\\\Mailcoach\\\\Http\\\\Api\\\\Resources\\\\BounceResource\\:\\:\\$subscriber_uuid\\.$#"
			count: 1
			path: src/Http/Api/Resources/BounceResource.php

		-
			message: "#^Access to an undefined property Spatie\\\\Mailcoach\\\\Http\\\\Api\\\\Resources\\\\EmailListResource\\:\\:\\$active_subscribers_count\\.$#"
			count: 1
			path: src/Http/Api/Resources/EmailListResource.php

		-
			message: "#^Access to an undefined property Spatie\\\\Mailcoach\\\\Http\\\\Api\\\\Resources\\\\OpenResource\\:\\:\\$first_opened_at\\.$#"
			count: 1
			path: src/Http/Api/Resources/OpenResource.php

		-
			message: "#^Access to an undefined property Spatie\\\\Mailcoach\\\\Http\\\\Api\\\\Resources\\\\OpenResource\\:\\:\\$open_count\\.$#"
			count: 1
			path: src/Http/Api/Resources/OpenResource.php

		-
			message: "#^Access to an undefined property Spatie\\\\Mailcoach\\\\Http\\\\Api\\\\Resources\\\\OpenResource\\:\\:\\$subscriber_email\\.$#"
			count: 1
			path: src/Http/Api/Resources/OpenResource.php

		-
			message: "#^Access to an undefined property Spatie\\\\Mailcoach\\\\Http\\\\Api\\\\Resources\\\\OpenResource\\:\\:\\$subscriber_email_list_uuid\\.$#"
			count: 1
			path: src/Http/Api/Resources/OpenResource.php

		-
			message: "#^Access to an undefined property Spatie\\\\Mailcoach\\\\Http\\\\Api\\\\Resources\\\\OpenResource\\:\\:\\$subscriber_uuid\\.$#"
			count: 1
			path: src/Http/Api/Resources/OpenResource.php

		-
			message: "#^Access to an undefined property Spatie\\\\Mailcoach\\\\Http\\\\Api\\\\Resources\\\\SubscriberImportResource\\:\\:\\$error_count\\.$#"
			count: 1
			path: src/Http/Api/Resources/SubscriberImportResource.php

		-
			message: "#^Access to an undefined property Illuminate\\\\View\\\\View\\:\\:\\$emailList\\.$#"
			count: 1
			path: src/Http/App/ViewComposers/WebsiteStyleComposer.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Contracts\\\\Database\\\\Eloquent\\\\Builder\\:\\:subscribed\\(\\)\\.$#"
			count: 1
			path: src/Livewire/Audience/SubscribersComponent.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Contracts\\\\Database\\\\Eloquent\\\\Builder\\:\\:unconfirmed\\(\\)\\.$#"
			count: 1
			path: src/Livewire/Audience/SubscribersComponent.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Contracts\\\\Database\\\\Eloquent\\\\Builder\\:\\:unsubscribed\\(\\)\\.$#"
			count: 1
			path: src/Livewire/Audience/SubscribersComponent.php

		-
			message: "#^Access to an undefined property Spatie\\\\Mailcoach\\\\Domain\\\\Audience\\\\Models\\\\Tag\\:\\:\\$subscribers\\.$#"
			count: 1
			path: src/Livewire/Audience/TagsComponent.php

		-
			message: "#^Static call to instance method stdClass\\:\\:rules\\(\\)\\.$#"
			count: 1
			path: src/Livewire/Automations/Actions/ConditionActionComponent.php

		-
			message: "#^Variable \\$condition in PHPDoc tag @var does not match any variable in the foreach loop\\: \\$key$#"
			count: 1
			path: src/Livewire/Automations/Actions/ConditionActionComponent.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:\\$created_at\\.$#"
			count: 2
			path: src/Livewire/Campaigns/CampaignStatisticsComponent.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Database\\\\Eloquent\\\\Builder\\:\\:draft\\(\\)\\.$#"
			count: 1
			path: src/Livewire/Campaigns/CampaignsComponent.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Database\\\\Eloquent\\\\Builder\\:\\:scheduled\\(\\)\\.$#"
			count: 1
			path: src/Livewire/Campaigns/CampaignsComponent.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Database\\\\Eloquent\\\\Builder\\:\\:sending\\(\\)\\.$#"
			count: 1
			path: src/Livewire/Campaigns/CampaignsComponent.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Database\\\\Eloquent\\\\Builder\\:\\:sent\\(\\)\\.$#"
			count: 1
			path: src/Livewire/Campaigns/CampaignsComponent.php

		-
			message: "#^Access to an undefined property Spatie\\\\Mailcoach\\\\Domain\\\\Content\\\\Models\\\\Concerns\\\\HasContentItems\\:\\:\\$name\\.$#"
			count: 1
			path: src/Livewire/Campaigns/OutboxComponent.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Contracts\\\\Database\\\\Eloquent\\\\Builder\\:\\:bounced\\(\\)\\.$#"
			count: 1
			path: src/Livewire/Campaigns/OutboxComponent.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Contracts\\\\Database\\\\Eloquent\\\\Builder\\:\\:complained\\(\\)\\.$#"
			count: 1
			path: src/Livewire/Campaigns/OutboxComponent.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Contracts\\\\Database\\\\Eloquent\\\\Builder\\:\\:failed\\(\\)\\.$#"
			count: 1
			path: src/Livewire/Campaigns/OutboxComponent.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Contracts\\\\Database\\\\Eloquent\\\\Builder\\:\\:pending\\(\\)\\.$#"
			count: 1
			path: src/Livewire/Campaigns/OutboxComponent.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Contracts\\\\Database\\\\Eloquent\\\\Builder\\:\\:sent\\(\\)\\.$#"
			count: 1
			path: src/Livewire/Campaigns/OutboxComponent.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:\\$subscriber_uuid\\.$#"
			count: 1
			path: src/Livewire/Content/LinkClicksComponent.php

		-
			message: "#^Access to an undefined property Spatie\\\\Mailcoach\\\\Domain\\\\Content\\\\Models\\\\Click\\:\\:\\$click_count\\.$#"
			count: 1
			path: src/Livewire/Content/LinkClicksComponent.php

		-
			message: "#^Access to an undefined property Spatie\\\\Mailcoach\\\\Domain\\\\Content\\\\Models\\\\Click\\:\\:\\$first_clicked_at\\.$#"
			count: 1
			path: src/Livewire/Content/LinkClicksComponent.php

		-
			message: "#^Access to an undefined property Spatie\\\\Mailcoach\\\\Domain\\\\Content\\\\Models\\\\Click\\:\\:\\$subscriber_email\\.$#"
			count: 1
			path: src/Livewire/Content/LinkClicksComponent.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:\\$subscriber_uuid\\.$#"
			count: 1
			path: src/Livewire/Content/OpensComponent.php

		-
			message: "#^Access to an undefined property Spatie\\\\Mailcoach\\\\Domain\\\\Content\\\\Models\\\\Open\\:\\:\\$first_opened_at\\.$#"
			count: 1
			path: src/Livewire/Content/OpensComponent.php

		-
			message: "#^Access to an undefined property Spatie\\\\Mailcoach\\\\Domain\\\\Content\\\\Models\\\\Open\\:\\:\\$open_count\\.$#"
			count: 1
			path: src/Livewire/Content/OpensComponent.php

		-
			message: "#^Access to an undefined property Spatie\\\\Mailcoach\\\\Domain\\\\Content\\\\Models\\\\Open\\:\\:\\$subscriber_email\\.$#"
			count: 1
			path: src/Livewire/Content/OpensComponent.php

		-
			message: "#^Access to an undefined property Spatie\\\\Mailcoach\\\\Domain\\\\Content\\\\Models\\\\Concerns\\\\HasContentItems\\:\\:\\$name\\.$#"
			count: 1
			path: src/Livewire/Content/UnsubscribesComponent.php

		-
			message: "#^Access to an undefined property Spatie\\\\Mailcoach\\\\Domain\\\\Content\\\\Models\\\\Concerns\\\\HasHtmlContent\\:\\:\\$template\\.$#"
			count: 2
			path: src/Livewire/Editor/EditorComponent.php

		-
			message: "#^Access to an undefined property Spatie\\\\Mailcoach\\\\Domain\\\\Content\\\\Models\\\\Concerns\\\\HasHtmlContent\\:\\:\\$template_id\\.$#"
			count: 1
			path: src/Livewire/Editor/EditorComponent.php

		-
			message: "#^Access to an undefined property Spatie\\\\Mailcoach\\\\Domain\\\\Content\\\\Models\\\\Concerns\\\\HasHtmlContent\\:\\:\\$updated_at\\.$#"
			count: 2
			path: src/Livewire/Editor/EditorComponent.php

		-
			message: "#^Cannot access property \\$updated_at on Illuminate\\\\Database\\\\Eloquent\\\\Model\\|null\\.$#"
			count: 1
			path: src/Livewire/Editor/EditorComponent.php

		-
			message: "#^Call to an undefined method Spatie\\\\Mailcoach\\\\Livewire\\\\Import\\\\ImportComponent\\:\\:call\\(\\)\\.$#"
			count: 1
			path: src/Livewire/Import/ImportComponent.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Database\\\\Query\\\\Builder\\:\\:withCount\\(\\)\\.$#"
			count: 1
			path: src/Livewire/Spotlight/ShowListCommand.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Contracts\\\\View\\\\View\\:\\:layout\\(\\)\\.$#"
			count: 1
			path: src/Livewire/TableComponent.php

		-
			message: "#^Static method Spatie\\\\Mailcoach\\\\Mailcoach\\:\\:getAutomationActionClass\\(\\) invoked with 0 parameters, 2 required\\.$#"
			count: 1
			path: src/Mailcoach.php
