.alert {
    @apply my-6;
    @apply first:mt-0;
    @apply last:mb-0;
    @apply px-8;
    @apply py-6;
    @apply rounded;
    @apply border;
}

.alert a {
    @apply underline;
}

.alert.alert-flash {
    @apply m-0;
    @apply cursor-pointer;
    @apply absolute;
    @apply right-0;
    @apply top-6;
    @apply lg:-right-4;
    @apply grid;
    @apply justify-start;
    @apply bg-white;
    @apply shadow-2xl;
    @apply max-w-4xl;
    @apply opacity-0;
    @apply translate-x-full;
    @apply text-gray-700;
    transition: opacity ease 0.8s, transform ease 0.6s;
    z-index: 100000;
}

.alert-flash-visible {
    @apply translate-x-0;
    @apply opacity-100;
    @apply duration-300;
}

.alert-success {
    @apply bg-gradient-to-br;
    @apply from-green-50;
    @apply to-green-100;
    @apply text-green-900;
    @apply border-green-500/20;
}

.alert-info {
    @apply bg-gradient-to-br;
    @apply from-purple-50;
    @apply to-purple-100;
    @apply text-purple-900;
    @apply border-purple-500/20;
}

.alert-info code {
    @apply bg-gradient-to-br;
    @apply from-purple-500/20;
    @apply to-purple-500/30;
    @apply text-purple-900;
}

.alert-warning {
    @apply bg-gradient-to-br;
    @apply from-orange-50;
    @apply to-orange-100;
    @apply text-orange-700;
    @apply border-orange-500/20;
}

.alert-danger,
.alert-error {
    @apply bg-gradient-to-br;
    @apply from-red-50;
    @apply to-red-100;
    @apply text-red-700;
    @apply border-red-500/20;
}

.alert-empty {
    @apply py-8;
    @apply text-center;
}

.alert-countdown {
    @apply absolute;
    @apply left-0;
    @apply bottom-0;
    @apply h-1;
    @apply w-full;
    @apply transform;
    @apply origin-bottom-right;
    @apply bg-white/30;
    animation: alert-countdown var(--alert-duration, 5s) linear forwards;
}

@keyframes alert-countdown {
    0% {
        transform: scaleX(1);
    }
    100% {
        transform: scaleX(0);
    }
}
