.alert {
    @apply relative;
    @apply px-8;
    @apply py-5;
    @apply rounded-md;
    @apply shadow-md;
    @apply bg-gray-900;
    @apply bg-gradient-to-r;
    @apply text-white;

    @apply before:content-[''];
    @apply before:absolute;
    @apply before:w-2;
    @apply before:h-full;
    @apply before:top-0;
    @apply before:left-0;
    @apply before:bg-gradient-to-b;
    @apply before:rounded-l;
}

.alert a {
    @apply underline;
    @apply hover:text-white;
}

.alert.alert-flash {
    @apply before:hidden;
}

.alert-success {
    @apply from-green-500/10;
    @apply before:from-green-500;
    @apply before:to-green-500/70;
}

.alert-info {
    @apply from-purple-500/10;
    @apply before:from-purple-500;
    @apply before:to-purple-500/70;
}

.alert-info code {
    @apply bg-black/20;
    @apply text-purple-200;
    @apply py-0.5;
}

.alert-warning {
    @apply from-orange-500/20;
    @apply before:from-yellow-500;
    @apply before:to-orange-500/70;
}

.alert-danger,
.alert-error {
    @apply from-red-500/10;
    @apply before:from-red-500;
    @apply before:to-red-500/70;
}

.alert-empty {
    @apply py-8;
    @apply text-center;
}

.alert-countdown {
    @apply absolute;
    @apply left-0;
    @apply bottom-0;
    @apply h-2;
    @apply w-full;
    @apply transform;
    @apply origin-bottom-right;
    @apply bg-gradient-to-r;
    animation: alert-countdown var(--alert-duration, 5s) linear forwards;
}

.alert-success .alert-countdown {
    @apply from-green-500;
    @apply to-green-500/60;
}

.alert-error .alert-countdown {
    @apply from-red-500;
    @apply to-red-500/60;
}

@keyframes alert-countdown {
    0% {
        transform: scaleX(1);
    }
    100% {
        transform: scaleX(0);
    }
}
