.button {
    @apply px-4;
    @apply h-10;
    @apply bg-blue-500;
    @apply text-white;
    @apply border;
    @apply border-transparent;
    @apply whitespace-no-wrap;
    @apply rounded-sm;
    @apply shadow-focus;
    @apply font-semibold;
    transition: background-color 0.15s ease;
}

.button:hover,
.button:focus,
.button.dropdown-trigger-open {
    @apply bg-blue-600;
    @apply text-white;
}

.button:active {
    transform: translateY(1px);
}

.button-secondary {
    @apply button;
    @apply bg-blue-100;
    @apply text-gray-500;
    @apply shadow-none;
    transition: background-color 0.15s ease;
}

.button-secondary:hover,
.button-secondary:focus {
    @apply bg-blue-200;
    @apply text-gray-600;
}

.button-secondary:active {
    transform: translateY(1px);
}

.buttons {
    @apply grid;
    @apply grid-cols-auto;
    @apply grid-flow-col;
    @apply items-center;
    @apply justify-start;
    @apply gap-1;
}

.button-cancel {
    @apply link-dimmed;
}

.button-cancel:hover,
.button-cancel:focus {
    @apply link-dimmed-hover;
}
