.card {
    @apply bg-white;
    @apply shadow-lg;
    @apply lg:rounded;
    @apply w-full;
    @apply flex-grow;
}

.card::-webkit-scrollbar {
    height: 0px; /* Remove scrollbar space */
    background: transparent; /* Optional: just make scrollbar invisible */
}

.card-split {
    @apply grid;
    grid-template-areas:        
        'card-nav'
        'card-main';
    grid-template-rows: auto 1fr;
}

@screen lg{
    .card-split {
        grid-template-areas:        
            'card-nav card-main';
        grid-template-columns: 16rem 1fr;
        grid-template-rows: 1fr;
    }
}

.card-nav {
    grid-area: card-nav;
    @apply flex;
    @apply flex-col;
    @apply bg-gradient-to-b;
    @apply from-blue-800;
    @apply to-blue-900;
    @apply rounded-t;
    @apply lg:rounded-tr-none;
    @apply lg:rounded-l;
    @apply w-full;
}

.card-main {
    grid-area: card-main;
    @apply px-8;
    @apply lg:px-16;
    @apply pt-8;
    @apply pb-16;
}