.layout {
    @apply grid;
    @apply p-6;
    @apply gap-6;
    @apply max-w-layout;
    @apply mx-auto;
    @apply w-full;
    @apply min-h-screen;
    grid-template-areas:        
        'flash flash'
        'header header-right'
        'main main'
        'footer footer';
    grid-template-rows: auto minmax(2.15rem, auto) 1fr auto;
    grid-template-columns: 1fr auto;
    z-index: 1;
}

@screen lg {
    .layout {
        grid-template-areas:
            'flash flash'
            'header header-right'
            'main main'
            'footer footer';
        grid-template-rows: auto minmax(2.15rem, auto) 1fr auto;
        grid-template-columns: 1fr auto;
    }
}

.layout-flash {
    grid-area: flash;
    @apply -mx-6;
    @apply lg:mx-0;
}

.layout-header {
    grid-area: header;
    @apply grid;
    @apply items-center;
    grid-template-columns: auto 1fr;
}

.layout-header-right {
    grid-area: header-right;
    @apply grid;
    @apply items-center;
}

.layout-nav {
    grid-area: nav;
}

.layout-main {
    grid-area: main;
    @apply -mx-6;
    @apply lg:mx-0;
    @apply flex;
    @apply flex-col;
}

.layout-footer {
    grid-area: footer;
}
