.link {
    @apply text-blue-700;
    @apply underline;
    text-decoration-color: var(--blue-600);
}

.link-hover {
    @apply text-blue-800;
    text-decoration-color: var(--blue-700);
}

.link:hover {
    @apply link-hover;
}

.links a {
    @apply link;
}

.links a:hover {
    @apply link-hover;
}

.link-dimmed {
    @apply text-gray-600;
    @apply underline;
    text-decoration-color: var(--gray-500);
}

.link-dimmed-hover {
    @apply text-gray-500;
    text-decoration-color: var(--gray-400);
}

.link-dimmed:hover {
    @apply link-dimmed-hover;
}

.links-dimmed a {
    @apply link-dimmed;
}

.links-dimmed a:hover {
    @apply link-dimmed-hover;
}

.link-danger {
    @apply text-gray-600;
    @apply underline;
    text-decoration-color: var(--gray-500);
}

.link-danger:hover {
    @apply text-red-600;
    @apply underline;
    text-decoration-color: var(--red-500);
}

.link-icon {
    @apply text-blue-700;
}

.link-icon .icon-label-text {
    @apply underline;
    text-decoration-color: var(--blue-600);
}

.link-icon:hover {
    @apply text-blue-800;
}

.link-icon:hover .icon-label-text {
    text-decoration-color: var(--blue-500);
}
