.tabs {
    @apply bg-white;
    overflow-x: scroll;
    z-index: 1;
    @apply mb-8;
}

.tabs:before {
    content: '';
    @apply absolute;
    @apply bottom-0;
    @apply w-full;
    height: 2px;
    @apply bg-gray-100;
}

.tabs::-webkit-scrollbar {
    height: 0px; /* Remove scrollbar space */
    background: transparent; /* Optional: just make scrollbar invisible */
}

.tabs ul {
    @apply grid;
    @apply grid-cols-auto;
    @apply grid-flow-col;
    @apply justify-start;
    width: auto;
}

.tabs li {
    @apply cursor-pointer;
    @apply font-bold;
    @apply text-xl;
    @apply pr-10;
}

.tabs li a {
    @apply inline-block;
    @apply pb-3;
}

.tabs li:not(.active) a {
    @apply text-gray-600;
}

.tabs li:not(.active) a:hover {
    @apply text-black;
}

.tabs li.active a:before {
    content: '';
    @apply absolute;
    @apply bottom-0;
    @apply w-full;
    height: 2px;
    @apply bg-gradient-to-l;
    @apply from-blue-500;
    @apply to-blue-700;
}
